/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
/* header start  */
.header {
  width: 100%;
  height: 1322px;
  background-color: #ff900e1a;
}

/* navbar start  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 228px;
}

.logo-title {
  font-weight: 700;
  font-size: 45px;
}

.list-items ul {
  display: flex;
  list-style: none;
}

.list-items li {
  margin-left: 30px;
}

/* navbar end */

/* banner start  */

.banner {
  text-align: center;
  padding: 0px 228px;
}

.banner-title {
  font-weight: 700;
  font-size: 64px;
  margin-top: 50px;
  color: #131313;
}

.banner-desc {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 20px;
  margin-bottom: 32px;
}

.btn-primary {
  font-weight: 600;
  font-size: 20px;
  border: 0;
  background-color: #ff900e;
  padding: 20px 25px;
  border-radius: 8px;
  margin-bottom: 50px;
}
.banner-img img {
  width: 100%;
  height: 700px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 8px;
}

/* our-features start */
.our-features {
  display: flex;
  align-items: center;
  margin: 85px 180px;
  gap: 73px;
}

.our-features-img-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features-title {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 24px;
}
.quick {
  color: #727272;
}
.features {
  color: #ff900e;
}

.our-features-desc {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 32px;
}
/* our-features end */

/* enjoy featurs start */
.enjoy-featurs {
  margin: 0px 230px;
}
.experiences {
  display: flex;
  justify-content: space-between;
}
.enjoy-featurs-info {
  margin-right: 50px;
}
.enjoy-featurs-title {
  font-weight: 700;
  font-size: 45px;
  padding-left: 20px;
  border-left: 3px solid #ff900e;
  border-spacing: 10px;
  margin-bottom: 24px;
}

.enjoy-featurs-desc {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 30px;
}
.enjoy-featurs-img img {
  width: 100%;
  object-fit: cover;
}

.experience-info {
  width: 586px;
  height: 171px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 30px 30px;
  margin-bottom: 50px;
}

.btn-exper {
  font-weight: 700;
  border: 0;
  font-size: 65px;
  padding: 10px 30px;
  background-color: #ff900e;
  color: white;
  border-radius: 8px;
  margin: 0 50px;
  position: relative;
  left: 10em;
  bottom: 9em;
}

.btn-span-exper {
  font-weight: 400;
  font-size: 25px;
  display: inline-block;
}

/* enjoy featurs end */

/* Some Facts start */
.facts-container {
  margin: 0px 200px;
}
.facts-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
.facts-desc {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 100px;
}
.fact-box-items {
  display: flex;
  justify-content: center;
  gap: 124px;
}
.box-item {
  width: 200px;
  text-align: center;
  border: 3px solid #ff900e;
  padding: 35px 5px;
  border-radius: 5px;
  margin-bottom: 140px;
  animation: colorChange 1s infinite;
}
/* animaton css */

@keyframes colorChange {
  from {
    border: 3px solid #ff900e;
  }
  to {
    border: 3px solid #0e97ff;
  }
}

.number {
  font-weight: 600;
  font-size: 45px;
}
.awards {
  color: #727272;
  font-weight: 600;
  font-size: 20px;
}
/* Some Facts end */
/* our team start */
.section-title {
  font-weight: 700;
  font-size: 35px;
  color: #562eff;
  margin-top: 3px;
  text-align: center;
  margin-bottom: 23px;
}
.employeees {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 20px;
  justify-content: center;
}

.employeee {
  display: flex;
  align-items: center;
}
.employeee img {
  width: 100px;
  height: 100px;
}

.employeee-name {
  margin-left: 16px;
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

.top-employeees {
  margin-bottom: 100px;
}
/* our team end */
/* Our Sponspors start */
.sponsoprs {
  text-align: center;
}
.sponspors-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 24px;
}
.sponspors-desc {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 50px;
}
.company-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.company-icons div {
  margin-left: 80px;
}
/* Our Sponspors end */

/* footer start */

.footer-desc {
  border-radius: 8px;
  padding: 38px 141px;
  text-align: center;
  background-color: #fff4e7;
}
/* footer end */

/* media query  */

/* Small devices */

@media only screen and (max-width: 576px) {
  .navbar,
  .list-items ul,
  .header,
  .our-features,
  .experiences,
  .fact-box-items,
  .company-icons {
    flex-direction: column;
  }

  .navbar {
    padding: 0px;
  }

  .banner,
  .banner-img img {
    padding: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .our-features-img-items,
  .employeees {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
    margin-left: 20px;
  }
  .enjoy-featurs,
  .btn-exper,
  .experience-info,
  .facts-container {
    width: 100%;
    margin: 0;
    left: 0;
  }
  .btn-exper {
    position: relative;
    bottom: -17px;
    margin-bottom: 38px;
  }
  .enjoy-featurs-img img {
    margin-top: 20px;
    margin-left: 25px;
    width: 60%;
    height: 50%;
    align-items: center;
  }
  .fact-box-items {
    gap: 5px;
    align-items: center;
  }

  .company-icons {
    gap: 50px;
    margin-right: 20px;
  }

  .footer-desc {
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    border-radius: 0;
  }
}
